/* main.js */
/* header hyperlink to cancel res */
a.cancel {
    cursor: pointer;
    color: #fb7979;
    font-weight: bold;
}

a.cancel:hover {
    color: rgba(251, 121, 121, 0.75)
}

a.cancel:active {
    color: #fb7979
}

/* reserve.js */
/* timetable */
.tt p {
    width: 2.7rem;
    height: 5.4rem;
    border: 1px solid rgba(0,0,0,0.25);
}

.tt-emp {
    background-color: #d9d9d9;
}

.tt-occ {
    background-color: #fb7979;
}

.tt-res {
    background-color: #bd00ff;
}