/* main.js */
/* header hyperlink to cancel res */
button.cancel {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: rgba(189, 0 ,255);
    font-weight: bold;
    font-family: 'Inter';
    font-size: medium;
}

button.cancel:hover {
    color: rgba(189, 0 ,255, 0.6)
}

button.cancel:active {
    color: rgba(189, 0 ,255)
}

/* levels/lvlx.js */
/* unresponsive grid */
.grid {
    display: grid
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* centering div */
.center {
    display: flex;
    justify-content: center;
}

/* reserve.js */
/* timetable */
.tt p {
    width: 2.7rem;
    height: 5.4rem;
    border: 1px solid rgba(0,0,0,0.25);
}

.tt-emp {
    background-color: #d9d9d9;
}

.tt-occ {
    background-color: #fb7979;
}

.tt-res {
    background-color: #bd00ff;
}